@page "/"

<div class="jumbotron">
    <h1 class="display-4">Welcome to your new to do app!</h1>
    <h2>Click on the to-do list to get started</h2>
    <p class="lead">Please note this is experimental, and uses Local Storage to make it completely self-contained.</p>
    <hr class="my-4">
    <p>This application is also a PWA, so can be installed locally on a device.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/Mark-Phillipson/blazor-default-template/tree/master/MSPToDoList" role="button">Github Repo</a>
    </p>
</div>
