@page "/commands"
<h2>Popular Commands</h2>
<h3> Visual Studio</h3>
<ul>
    <li>
        Last Edit
    </li>
    <li>
        Previous/Following Highlight
    </li>
    <li>
        Search Code Location
    </li>
    <li>
        Move into Brackets/Blank Line
    </li>
    <li>
        Drop/Swap/Collect Marker
    </li>
    <li>
        Jump to Symbol/File
    </li>
    <li>
        FE => foreach  loop (with collection in clipboard)
    </li>
</ul>
<h3>Global</h3>
<ul>
    <li>
        Play and Sleep
    </li>
    <li>
        Browse [App Name] Scripts &lt;dictation&gt;
    </li>
    <li>
        Dragon Script &lt;dictation&gt;
    </li>
    <li>
        Modern Mode/Tray Icon Mode
    </li>
    <li>
        Create Custom IntelliSense
    </li>
    <li>
        Edit to Do &lt;dictation&gt;
    </li>
    <li>
        Command Close &lt;Explorer/Word/Excel&gt;
    </li>
    <li>
        Search Union &lt;dictation&gt;
    </li>
</ul>
@code {

}
