
@if (Show)
{
    <span class="alert alert-@AlertType" role="alert">
        <strong>@Title</strong> @Display
        <button type="button" class="btn btn-sm btn-@AlertType" aria-label="Close" @onclick="Hide">
            <span aria-hidden="true">&times;</span>
        </button>
    </span>
}

