@inherits LayoutComponentBase

<div class="d-flex" id="wrapper">

    <LeftNav DisplayStyle="@MenuDisplay" SidebarOpenedClass="@SidebarOpenedClass" />

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h3 class="title">Human Resource Sample Application</h3>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li><a class="btn btn-sm btn-dark" @onclick="ToggleMenu"><img src="/images/Snack-Burger-WF.png" width="30" /></a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <a class="btn btn-sm btn-dark d-lg-none" @onclick="ToggleMenuSmallScreens"><img src="/images/Snack-Burger-WF.png" width="30" /></a>
            @Body
        </div>
    </div>

</div>


@code
{
    public string MenuDisplay { get; set; } = "display:none;";
    public string SidebarOpenedClass { get; set; } = "sidebar-opened ml-0";
    void ToggleMenu()
    {
        if (MenuDisplay=="display:block")
        {
            MenuDisplay = "display:none";
        }
        else
        {
            MenuDisplay = "display:block";
        }
    }
    void ToggleMenuSmallScreens()
    {
        ToggleMenu();
        if (SidebarOpenedClass == "sidebar-opened ml-0")
        {
            SidebarOpenedClass = "";
        }
        else
        {
            SidebarOpenedClass = "sidebar-opened ml-0";
        }
    }
}