
<div class="widget">
    <h3>New Employees</h3>
    <p>Make sure to say hello to our latest friends!</p>
    @foreach (var employee in NewEmployees)
    {
        <div class="float-left employee-box">
            <img src="images/professional.png" />
            <p>@employee.FirstName @employee.LastName</p>
        </div>
    }

    <p style="clear: both">Most recent employees!</p>
</div>
