<div class="widget">
    <h3>Notices</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
                <th scope="col">Date Posted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</td>
                <td>Low</td>
                <td>@DateTime.Now.AddDays(-5).ToShortDateString() </td>
            </tr>
            <tr>
                <td>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</td>
                <td>High</td>
                <td>@DateTime.Now.AddDays(-6).ToShortDateString() </td>
            </tr>
            <tr>
                <td>Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</td>
                <td>Low</td>
                <td>@DateTime.Now.AddMonths(-5).ToShortDateString() </td>
            </tr>
        </tbody>
    </table>
</div>