@if (Users== null )
{
    <div>Loading..</div>
}
else
	{

	@*<thead>
	<tr>
		<th>Username</th>
	</tr>
</thead>*@
	
		var counter = 0;
		@foreach (var user in Users)
        {
			counter++;
			<span>@user.UserName</span>
            @if (counter<Users.Count)
            {
				<span>, </span>
            }
        }
	}
