
<div class="dialog-title">
	<h2>@Title</h2>
</div>
<form class="dialog-body">
	<div class="font-weight-bold">
		@Message
	</div>
</form>
<div class="dialog-footer">
	<div class="dialog-buttons">
		<button accesskey="n" @ref="CancelButton" class="btn btn-info btn-lg mr-auto" @onclick="@OnCancel">Ca<u>n</u>cel</button>
		<button accesskey="m" class="btn btn-@ButtonColour btn-lg ml-auto" @onclick="@OnConfirm">Confir<u>m</u></button>
	</div>
</div>
@code {
	[Parameter] public string Title { get; set; } = "Please Confirm";
	[Parameter] public string Message { get; set; }
	[Parameter] public string ButtonColour { get; set; } = "danger";
	[CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
	ElementReference CancelButton;
	void OnCancel()
	{
		ModalInstance.CancelAsync();
	}
	void OnConfirm()
	{
		ModalInstance.CloseAsync(ModalResult.Ok(true));
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await CancelButton.FocusAsync();
		}
	}

}